<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkbank.pbcrs.mapper.PbcrsReportConditionMapper">
  <resultMap id="BaseResultMap" type="com.hkbank.pbcrs.model.PbcrsReportCondition">
    <id column="CONDITIONID" jdbcType="VARCHAR" property="conditionId" />
    <result column="CONDITIONSEQNO" jdbcType="VARCHAR" property="conditionSeqNo" />
    <result column="SGMTID" jdbcType="VARCHAR" property="sgmtid" />
    <result column="ETL_DATE" jdbcType="DATE" property="etlDate" />
    <result column="SYSID" jdbcType="VARCHAR" property="sysid" />
    <result column="REPORTTYPE" jdbcType="VARCHAR" property="reportType" />
    <result column="REPORTSTAUT" jdbcType="VARCHAR" property="reportStaut" />
    <result column="CREATEUSER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATETIME" jdbcType="DATE" property="createTime" />
    <result column="REPORTFLAG" jdbcType="DATE" property="reportFlag" />
  </resultMap>
  <insert id="insert" parameterType="com.hkbank.pbcrs.model.PbcrsReportCondition">

    insert into PBCRS_REPORT_CONDITION (CONDITIONID,CONDITIONSEQNO, SGMTID, ETL_DATE, 
      SYSID, REPORTTYPE, REPORTSTAUT, 
      CREATEUSER, CREATETIME,WEB_PROC_ID,ORG_CODE,REPORTFLAG)
    values (#{conditionId,jdbcType=VARCHAR},#{conditionSeqNo,jdbcType=VARCHAR}, #{sgmtid,jdbcType=VARCHAR}, #{etlDate,jdbcType=DATE}, 
      #{sysid,jdbcType=VARCHAR}, #{reportType,jdbcType=VARCHAR}, #{reportStaut,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},#{webProcId,jdbcType=VARCHAR},#{orgCode,jdbcType=VARCHAR},#{reportFlag,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 12 14:21:18 CST 2019.
    -->
    select CONDITIONSEQNO, SGMTID, ETL_DATE, SYSID, REPORTTYPE, REPORTSTAUT, CREATEUSER, 
    CREATETIME
    from PBCRS_REPORT_CONDITION
  </select>
  

  
   <select id="selectStatus3" parameterType="com.hkbank.pbcrs.model.PbcrsReportCondition" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 12 14:21:18 CST 2019.
    -->
    select CONDITIONSEQNO, SGMTID, ETL_DATE, SYSID, REPORTTYPE, REPORTSTAUT, CREATEUSER, 
    CREATETIME
    from PBCRS_REPORT_CONDITION
    where REPORTSTAUT='3'
    		<if test="sgmtid != null and sgmtid != ''">
				and sgmtid=#{sgmtid}
			</if>
			<if test="sysid != null and sysid != ''">
				and sysid=#{sysid}
			</if>
				<if test="etlDate != null and etlDate != ''">
				and ETL_DATE=#{etlDate}
			</if>
				
  </select>
  
  <select id="count" parameterType="map" resultType="int">
   select count(1) from PBCRS_REPORT_CONDITION where REPORTSTAUT = '1' and CONDITIONID in(${uuids})
  </select>
  
  <select id="getOrgInfo" parameterType="map" resultType="map">
  	select distinct t.org_code as orgcode  from ${tableName}  t
	where t.etl_date = #{etlDate}
	<if test="sysid != null and sysid != ''">
		and sysid=#{sysid}
	</if> 
  </select>
   <select id="getOrgInfoBySeqno" parameterType="map" resultType="map">
  	select to_char(wm_concat(''''||${tableSeqno}||'''')) as seqNos, org_code as orgcode  from ${tableName}  t
  	where t.etl_date = #{etlDate}
 	<if test="sysid != null and sysid != ''">
		and sysid=#{sysid}
	</if> 
	<if test="seqNoS != null and seqNoS != ''">
		and ${tableSeqno} in (${seqNoS})
	</if> 
    group by org_code
  </select>
  
  <select id="getTableInfo" parameterType="String" resultType="map">
    select t.bssgmt_table_name as tableName,t.bssgmt_table_seqno as tableSeqno,REPORTNAME from PBCRS_SYS_REPORTCONFIG t
	where t.reportid = #{sysid}
  </select>
</mapper>