<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkbank.pbcrs.mapper.PbcrsReportInacctinfMapper">
	<resultMap id="BaseResultMap" type="com.hkbank.pbcrs.model.PbcrsReportInacctinf">
		<id column="INACCTINFSEQNO" jdbcType="VARCHAR" property="SeqNo" />
		<!-- <result column="ACCTBSSGMTSEQNO" jdbcType="VARCHAR" property="AcctBsSgmtSeqNo" 
			/> <result column="ACCTBSINFSGMTSEQNO" jdbcType="VARCHAR" property="AcctBsInfSgmtSeqNo" 
			/> <result column="RLTREPYMTINFSGMTSEQNO" jdbcType="VARCHAR" property="RltRepymtInfSgmtSeqNo" 
			/> <result column="MOTGACLTALCTRCTINFSGMTSEQNO" jdbcType="VARCHAR" property="MotgaCltalCtrctInfSgmtSeqNo" 
			/> <result column="ACCTCREDSGMTSEQNO" jdbcType="VARCHAR" property="AcctCredSgmtSeqNo" 
			/> <result column="ORIGCREDITORINFSGMTSEQNO" jdbcType="VARCHAR" property="OrigCreditorInfSgmtSeqNo" 
			/> <result column="ACCTMTHLYBLGINFSGMTSEQNO" jdbcType="VARCHAR" property="AcctMthlyBlgInfSgmtSeqNo" 
			/> <result column="SPECPRDSGMTSEQNO" jdbcType="VARCHAR" property="SpecPrdSgmtSeqNo" 
			/> <result column="ACCTDBTINFSGMTSEQNO" jdbcType="VARCHAR" property="AcctDbtInfSgmtSeqNo" 
			/> <result column="ACCTSPECTRSTDSPNSGMTSEQNO" jdbcType="VARCHAR" property="AcctSpecTrstDspnSgmtSeqno" 
			/> -->

		<association property="AcctBsSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAcctbssgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				10:42:53 CST 2019. -->
			<id column="ACCTBSSGMTSEQNO" jdbcType="VARCHAR" property="AcctBsSgmtSeqNo" />
			<result column="INFRECTYPE" jdbcType="VARCHAR" property="InfRecType" />
			<result column="ACCTTYPE" jdbcType="VARCHAR" property="AcctType" />
			<result column="ACCTCODE" jdbcType="VARCHAR" property="AcctCode" />
			<result column="RPTDATE" jdbcType="VARCHAR" property="RptDate" />
			<result column="RPTDATECODE" jdbcType="VARCHAR" property="RptDateCode" />
			<result column="NAME" jdbcType="VARCHAR" property="Name" />
			<result column="IDTYPE" jdbcType="VARCHAR" property="IDType" />
			<result column="IDNUM" jdbcType="VARCHAR" property="IDNum" />
			<result column="MNGMTORGCODE" jdbcType="VARCHAR" property="MngmtOrgCode" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="AcctBsInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAcctbsinfsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				10:42:53 CST 2019. -->
			<id column="ACCTBSINFSGMTSEQNO" jdbcType="VARCHAR" property="AcctBsInfSgmtSeqNo" />
			<result column="BUSILINES" jdbcType="VARCHAR" property="BusiLines" />
			<result column="BUSIDTLLINES" jdbcType="VARCHAR" property="BusiDtlLines" />
			<result column="OPENDATE" jdbcType="VARCHAR" property="OpenDate" />
			<result column="CY" jdbcType="VARCHAR" property="Cy" />
			<result column="ACCTCREDLINE" jdbcType="VARCHAR" property="AcctCredLine" />
			<result column="LOANAMT" jdbcType="VARCHAR" property="LoanAmt" />
			<result column="FLAG" jdbcType="VARCHAR" property="Flag" />
			<result column="DUEDATE" jdbcType="VARCHAR" property="DueDate" />
			<result column="REPAYMODE" jdbcType="VARCHAR" property="RepayMode" />
			<result column="REPAYFREQCY" jdbcType="VARCHAR" property="RepayFreqcy" />
			<result column="REPAYPRD" jdbcType="VARCHAR" property="RepayPrd" />
			<result column="APPLYBUSIDIST" jdbcType="VARCHAR" property="ApplyBusiDist" />
			<result column="GUARMODE" jdbcType="VARCHAR" property="GuarMode" />
			<result column="OTHREPYGUARWAY" jdbcType="VARCHAR" property="OthRepyGuarWay" />
			<result column="ASSETTRANDFLAG" jdbcType="VARCHAR" property="AssetTrandFlag" />
			<result column="FUNDSOU" jdbcType="VARCHAR" property="FundSou" />
			<result column="LOANFORM" jdbcType="VARCHAR" property="LoanForm" />
			<result column="CREDITID" jdbcType="VARCHAR" property="CreditID" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<!-- <association property="RltRepymtInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportRltrepymtinfsgmt">
			<id column="RLTREPYMTINFSGMTSEQNO" jdbcType="VARCHAR"
				property="RltRepymtInfSgmtSeqNo" />
			<result column="RLTREPYMTNM" jdbcType="VARCHAR" property="RltRepymtNm" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association> -->
		
		<association property="RltRepymtInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportRltrepymtinfsgmt">
			
			<id column="RLTREPYMTINFSGMTSEQNO" jdbcType="VARCHAR"
				property="RltRepymtInfSgmtSeqNo" />
			<result column="RLTREPYMTNM" jdbcType="VARCHAR" property="RltRepymtNm" />
			
			<collection property="RltRepymtInf"
				ofType="com.hkbank.pbcrs.model.PbcrsReportRltrepymtinf">
				
				<id column="RLTREPYMTINFSGMTSEQNO" jdbcType="VARCHAR"
					property="RltRepymtInfSgmtSeqNo" />
				<id column="RLTREPYMTINFSEQNO" jdbcType="VARCHAR" property="RltRepymtInfSeqNo" />
				<result column="INFOIDTYPE" jdbcType="VARCHAR" property="InfoIDType" />
				<result column="ARLPNAME" jdbcType="VARCHAR" property="ArlpName" />
				<result column="ARLPCERTTYPE" jdbcType="VARCHAR" property="ArlpCertType" />
				<result column="ARLPCERTNUM" jdbcType="VARCHAR" property="ArlpCertNum" />
				<result column="ARLPTYPE" jdbcType="VARCHAR" property="ArlpType" />
				<result column="ARLPAMT" jdbcType="VARCHAR" property="ArlpAmt" />
				<result column="WARTYSIGN" jdbcType="VARCHAR" property="WartySign" />
				<result column="MAXGUARMCC" jdbcType="VARCHAR" property="MaxGuarMcc" />
			</collection>
			 
		</association>
		
		<association property="MotCltCtrInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportMotcltctrinfsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Fri Mar 15 
				10:54:59 CST 2019. -->
			<id column="MOTGACLTALCTRCTINFSGMTSEQNO" jdbcType="VARCHAR"
				property="MotgaCltalCtrctInfSgmtSeqNo" />
			<result column="CCNM" jdbcType="VARCHAR" property="CcNm" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="ReportFlag" />
			<collection property="CccInf"
				ofType="com.hkbank.pbcrs.model.PbcrsReportCccinf">
				<!-- WARNING - @mbggenerated This element is automatically generated 
					by MyBatis Generator, do not modify. This element was generated on Thu Apr 
					25 16:34:52 CST 2019. -->
				<id column="MOTGACLTALCTRCTINFSGMTSEQNO" jdbcType="VARCHAR"
					property="MotgaCltalCtrctInfSgmtSeqNo" />
				<id column="CCCINFSEQNO" jdbcType="VARCHAR" property="CccInfSeqNo" />
				<result column="CCC" jdbcType="VARCHAR" property="Ccc" />
				<result column="MOTGACLTALCTRCTINFSEQNO" jdbcType="VARCHAR"
					property="MotgaCltalCtrctInfSeqNo" />
				<result column="MOTGACLTALCTRCTINFTYPE" jdbcType="VARCHAR"
					property="MotgaCltalCtrctInfType" />
			</collection>
			 
		</association>
		<association property="AcctCredSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAcctcredsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="ACCTCREDSGMTSEQNO" jdbcType="VARCHAR" property="AcctCredSgmtSeqNo" />
			<result column="MCC" jdbcType="VARCHAR" property="Mcc" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="OriCreInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportOricreinfsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="ORIGCREDITORINFSGMTSEQNO" jdbcType="VARCHAR"
				property="OrigCreditorInfSgmtSeqNo" />
			<result column="INITCREDNAME" jdbcType="VARCHAR" property="InitCredName" />
			<result column="INITCREDORGNM" jdbcType="VARCHAR" property="InitCredOrgNm" />
			<result column="ORIGDBTCATE" jdbcType="VARCHAR" property="OrigDbtCate" />
			<result column="INITRPYSTS" jdbcType="VARCHAR" property="InitRpySts" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="AccMthBlgInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAccmthblginfsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="ACCTMTHLYBLGINFSGMTSEQNO" jdbcType="VARCHAR"
				property="AcctMthlyBlgInfSgmtSeqNo" />
			<result column="MONTH" jdbcType="VARCHAR" property="Month" />
			<result column="SETTDATE" jdbcType="VARCHAR" property="SettDate" />
			<result column="ACCTSTATUS" jdbcType="VARCHAR" property="AcctStatus" />
			<result column="ACCTBAL" jdbcType="VARCHAR" property="AcctBal" />
			<result column="PRIDACCTBAL" jdbcType="VARCHAR" property="PridAcctBal" />
			<result column="USEDAMT" jdbcType="VARCHAR" property="UsedAmt" />
			<result column="NOTISUBAL" jdbcType="VARCHAR" property="NotIsuBal" />
			<result column="REMREPPRD" jdbcType="VARCHAR" property="RemRepPrd" />
			<result column="FIVECATE" jdbcType="VARCHAR" property="FiveCate" />
			<result column="FIVECATEADJDATE" jdbcType="VARCHAR" property="FiveCateAdjDate" />
			<result column="RPYSTATUS" jdbcType="VARCHAR" property="RpyStatus" />
			<result column="RPYPRCT" jdbcType="VARCHAR" property="RpyPrct" />
			<result column="OVERDPRD" jdbcType="VARCHAR" property="OverdPrd" />
			<result column="TOTOVERD" jdbcType="VARCHAR" property="TotOverd" />
			<result column="OVERDPRINC" jdbcType="VARCHAR" property="OverdPrinc" />
			<result column="OVED31_60PRINC" jdbcType="VARCHAR" property="Oved31_60Princ" />
			<result column="OVED61_90PRINC" jdbcType="VARCHAR" property="Oved61_90Princ" />
			<result column="OVED91_180PRINC" jdbcType="VARCHAR" property="Oved91_180Princ" />
			<result column="OVEDPRINC180" jdbcType="VARCHAR" property="OvedPrinc180" />
			<result column="OVEDRAWBAOVE180" jdbcType="VARCHAR" property="OvedrawBaOve180" />
			<result column="CURRPYAMT" jdbcType="VARCHAR" property="CurRpyAmt" />
			<result column="ACTRPYAMT" jdbcType="VARCHAR" property="ActRpyAmt" />
			<result column="LATRPYDATE" jdbcType="VARCHAR" property="LatRpyDate" />
			<result column="CLOSEDATE" jdbcType="VARCHAR" property="CloseDate" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="SpecPrdSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportSpecprdsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="SPECPRDSGMTSEQNO" jdbcType="VARCHAR" property="SpecPrdSgmtSeqNo" />
			<result column="SPECLINE" jdbcType="VARCHAR" property="SpecLine" />
			<result column="SPECEFCTDATE" jdbcType="VARCHAR" property="SpecEfctDate" />
			<result column="SPECENDDATE" jdbcType="VARCHAR" property="SpecEndDate" />
			<result column="USEDINSTAMT" jdbcType="VARCHAR" property="UsedInstAmt" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="AcctDbtInfSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAcctdbtinfsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="ACCTDBTINFSGMTSEQNO" jdbcType="VARCHAR" property="AcctDbtInfSgmtSeqNo" />
			<result column="ACCTSTATUS1" jdbcType="VARCHAR" property="AcctStatus" />
			<result column="ACCTBAL1" jdbcType="VARCHAR" property="AcctBal" />
			<result column="FIVECATE1" jdbcType="VARCHAR" property="FiveCate" />
			<result column="FIVECATEADJDATE1" jdbcType="VARCHAR" property="FiveCateAdjDate" />
			<result column="REMREPPRD1" jdbcType="VARCHAR" property="RemRepPrd" />
			<result column="RPYSTATUS1" jdbcType="VARCHAR" property="RpyStatus" />
			<result column="OVERDPRD1" jdbcType="VARCHAR" property="OverdPrd" />
			<result column="TOTOVERD1" jdbcType="VARCHAR" property="TotOverd" />
			<result column="LATRPYAMT1" jdbcType="VARCHAR" property="LatRpyAmt" />
			<result column="LATRPYDATE1" jdbcType="VARCHAR" property="LatRpyDate" />
			<result column="CLOSEDATE1" jdbcType="VARCHAR" property="CloseDate" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
		</association>
		<association property="AccSpeTrsDspSgmt"
			javaType="com.hkbank.pbcrs.model.PbcrsReportAccspetrsdspsgmt">
			<!-- WARNING - @mbggenerated This element is automatically generated by 
				MyBatis Generator, do not modify. This element was generated on Sun Apr 28 
				11:10:15 CST 2019. -->
			<id column="ACCTSPECTRSTDSPNSGMTSEQNO" jdbcType="VARCHAR"
				property="AcctSpecTrstDspnSgmtSeqNo" />
			<result column="CAGOFTRDNM" jdbcType="VARCHAR" property="CagOfTrdNm" />
			<result column="REPORTFLAG" jdbcType="VARCHAR" property="reportflag" />
			<collection property="CagOfTrdInf"
				ofType="com.hkbank.pbcrs.model.PbcrsReportCagoftrdinf">
				<!-- WARNING - @mbggenerated This element is automatically generated 
					by MyBatis Generator, do not modify. This element was generated on Fri Mar 
					15 10:54:59 CST 2019. -->
				<id column="ACCTSPECTRSTDSPNSGMTSEQNO" jdbcType="VARCHAR"
					property="AcctSpecTrstDspnSgmtSeqNo" />
				<id column="CAGOFTRDINFSEQNO" jdbcType="VARCHAR" property="CagOfTrdInfSeqNo" />
				<result column="CHANTRANTYPE" jdbcType="VARCHAR" property="ChanTranType" />
				<result column="TRANDATE" jdbcType="VARCHAR" property="TranDate" />
				<result column="TRANAMT" jdbcType="VARCHAR" property="TranAmt" />
				<result column="DUETRANMON" jdbcType="VARCHAR" property="DueTranMon" />
				<result column="DETINFO" jdbcType="VARCHAR" property="DetInfo" />
			</collection>
		</association>
	</resultMap>

	<select id="selectByMap" parameterType="map" resultMap="BaseResultMap">
		select b.*,t2.CccInfSeqNo,t2.Ccc,t7.CagOfTrdInfSeqNo,t7.ChanTranType,t7.TranDate,t7.TranAmt,t7.DueTranMon,
		case when t7.CagOfTrdInfSeqNo is not null then nvl(t7.DetInfo,' ') end DetInfo 
		,t8.rltrepymtinfsgmtseqno,t8.rltrepymtnm,t9.rltrepymtinfseqno,t9.infoidtype,t9.arlpname
      ,t9.arlpcerttype,t9.arlpcertnum,t9.arlptype,t9.arlpamt,t9.wartysign, wartysign,t9.maxguarmcc
		from (
			select t.*,rownum rm from (
				select
						 b.AcctBsSgmtSeqNo INACCTINFSEQNO,
			            b.AcctBsSgmtSeqNo,
			            b.InfRecType,
			            b.AcctType,
			            b.AcctCode,
			            b.RptDate,
			            b.RptDateCode,
			            b.Name,
			            b.IDType,
			            b.IDNum,
			            b.MngmtOrgCode,
			            t.AcctBsInfSgmtSeqNo,
			            t.BusiLines,
			            t.BusiDtlLines,
			            t.OpenDate,
			            t.Cy,
			            t.AcctCredLine,
			            t.LoanAmt,
			            t.Flag,
			            t.DueDate,
			            t.RepayMode,
			            t.RepayFreqcy,
			            t.RepayPrd,
			            case when b.RptDateCode !='40' then nvl(t.ApplyBusiDist,' ') end ApplyBusiDist,
			            t.GuarMode,
			            t.OthRepyGuarWay,
			            t.AssetTrandFlag,
			            t.FundSou,
			            t.LoanForm,
			            t.CreditID,
			            t1.MotgaCltalCtrctInfSgmtSeqNo,
			            t1.CcNm,           
			           
			            t3.AcctCredSgmtSeqNo,
			            t3.Mcc,
			            t4.AcctMthlyBlgInfSgmtSeqNo,
			            t4.Month,
			            case when b.RptDateCode!='40' then nvl(t4.SettDate,' ') end SettDate,
			            t4.AcctStatus,
			            t4.AcctBal,
			            t4.PridAcctBal,
			            t4.UsedAmt,
			            t4.NotIsuBal,
			            t4.RemRepPrd,
			            t4.FiveCate,
			            t4.FiveCateAdjDate,
			            t4.RpyStatus,
			            t4.RpyPrct,
			            t4.OverdPrd,
			            t4.TotOverd,
			            t4.OverdPrinc,
			            t4.Oved31_60Princ,
			            t4.Oved61_90Princ,
			            t4.Oved91_180Princ,
			            t4.OvedPrinc180,
			            t4.CurRpyAmt,
			            t4.ActRpyAmt,
			            t4.LatRpyDate,
			             case when b.RptDateCode!='40' then nvl(t4.CloseDate,' ') end CloseDate ,          
			            t5.AcctDbtInfSgmtSeqNo,
			            t5.AcctStatus AcctStatus1,
			            t5.AcctBal AcctBal1,
			            t5.FiveCate FiveCate1,
			            t5.FiveCateAdjDate FiveCateAdjDate1,
			            t5.RemRepPrd RemRepPrd1,
			            t5.RpyStatus RpyStatus1,
			            t5.OverdPrd OverdPrd1,
			            t5.TotOverd TotOverd1,
			            t5.LatRpyAmt LatRpyAmt1,
			            t5.LatRpyDate LatRpyDate1,
			            case when t5.AcctDbtInfSgmtSeqNo is not null then nvl(t5.CloseDate,' ') end CloseDate1,
			            t6.AcctSpecTrstDspnSgmtSeqNo,
			            t6.CagOfTrdNm        
		from
		PBCRS_REPORT_AcctBsSgmt b
		left join PBCRS_REPORT_AcctBsInfSgmt t on
		b.acctbssgmtseqno=t.acctbsinfsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t.etl_date=#{etl_Date}
		</if>
			and b.RptDateCode !='40'
		left join
		PBCRS_REPORT_MotCltCtrInfSgmt t1 on
		b.acctbssgmtseqno=t1.motgacltalctrctinfsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t1.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t1.etl_date=#{etl_Date}
		</if>
		and b.RptDateCode !='40'
		left join
		PBCRS_REPORT_AcctCredSgmt t3 on
		b.acctbssgmtseqno=t3.acctcredsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t3.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			and t3.etl_date=#{etl_Date}
		</if>
		and b.AcctType='R4'
		left join PBCRS_REPORT_AccMthBlgInfSgmt t4 on
		b.acctbssgmtseqno=t4.acctmthlyblginfsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t4.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t4.etl_date=#{etl_Date}
		</if>
		    and b.RptDateCode !='40'
		left join
		PBCRS_REPORT_AcctDbtInfSgmt t5 on
		b.acctbssgmtseqno=t5.acctdbtinfsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t5.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t5.etl_date=#{etl_Date}
		</if>
		   and b.RptDateCode='40'
		left join
		PBCRS_REPORT_AccSpeTrsDspSgmt t6 on
		b.acctbssgmtseqno=t6.acctspectrstdspnsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t6.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t6.etl_date=#{etl_Date}
		</if>
		
		where b.reportflag='0'
		and b.etl_date=#{etl_Date}
		<if test="sysid != null and sysid != ''">
			and b.sourcesys=#{sysid}
		</if>
		)t where rownum &lt;= #{pageEnd}) b
  		left join
		PBCRS_REPORT_CccInf t2 on
		b.acctbssgmtseqno=t2.motgacltalctrctinfsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t2.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t2.etl_date=#{etl_Date}
		</if>
			and b.RptDateCode !='40'
  		 left join
		PBCRS_REPORT_CagOfTrdInf t7 on
		b.acctbssgmtseqno=t7.acctspectrstdspnsgmtseqno
		<if test="sysid != null and sysid != ''">
			and t7.sourcesys=#{sysid}
		</if>
		<if test="etl_Date != null and etl_Date != ''">
			
			and t7.etl_date=#{etl_Date}
		</if>
		
		left join
    	PBCRS_REPORT_RLTREPYMTINFSGMT t8 on
    	b.acctbssgmtseqno=t8.rltrepymtinfsgmtseqno
    	<if test="sysid != null and sysid != ''">
     	 and t8.sourcesys=#{sysid}
      	</if>
      	<if test="etl_Date != null and etl_Date != ''">
      	and t8.etl_date=#{etl_Date}
      	</if>
      	and b.RptDateCode in ('10','31')
      	and b.guarmode in ('3','5')
       	left join
   		 PBCRS_REPORT_RLTREPYMTINF t9 on
    	b.acctbssgmtseqno=t9.rltrepymtinfsgmtseqno
    	<if test="sysid != null and sysid != ''">
     	and t9.sourcesys=#{sysid}
     	</if>
     	<if test="etl_Date != null and etl_Date != ''">
      	and t9.etl_date=#{etl_Date}
      	</if>
      	and b.RptDateCode in ('10','31')
     	 and b.guarmode in ('3','5')
     	 
  		 where rm > #{pageBegin}
  		 
	</select>
	<select id="selectByMapCount" parameterType="map" resultType="int">
	
				select
						count(1)
		from
		PBCRS_REPORT_AcctBsSgmt b
		
		where b.reportflag='0'
		
		and b.etl_date=#{etl_Date}
		<if test="sysid != null and sysid != ''">
			and b.sourcesys=#{sysid}
		</if>
		
	</select>
	

</mapper>